.page-wrapper {
    min-height: 100vh;
    background-image: url("img/light-coffee.jpeg");
    background-repeat: no-repeat;
    background-size: cover;

}

table, caption, tbody, tfoot, thead, tr, th, td {
    all: unset;
}

.submit-btn {
    background-color: #3C89CB;
    border: 2px solid dimgrey;
    border-radius: 2%;
}

.coffee-name {
    font-family: 'Rowdies', cursive;
    font-size: 38px;
}

.big-con {
    border: 5px solid dimgrey;
    opacity: 85%;
    background: #6E8FB2;
}

#header-text {
    font-size: 5em;
}

svg {
    height: 120px;
    width: auto;
    opacity: 80%;
    padding-bottom: 10px;
}

#sub-header-text {
    font-family: 'Lobster', cursive;
    color: white;
}

.container-table {
    min-height: 520px;
}